@{
    ViewData["Title"] = "Reporte Calendario";
}
<partial name="_SubMenu" Model="SubMenuTransacciones.Calendario" />

<div id="calendario"></div>

@section Scripts{
    <script src="~/lib/fullcalendar/main.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const calendarioEl = document.getElementById('calendario');
            const calendario = new FullCalendar.Calendar(calendarioEl, {
                dayMaxEventRows: 3,
                initialView: 'dayGridMonth',
                events: '/transacciones/ObtenerTransaccionesCalendario'
            });
            calendario.render();
        })
    </script>
}