<div style="margin-top: -105px;">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-hdd-fill"></i>
            <h3>Backend</h3>
            <p>
                He trabajado en diferentes proyectos academícos y profesionales utilizando diferentes tecnologías para
                el
                desarrollo de backend.</p>
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                ASP.NET core, Laravel, Nodejs, Expressjs, Mongodb, MySQL, SQL Server, PL/SQL.
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Web APIs</li>
                <li>ASP.NET core MVC</li>
                <li>Entity Framework Core</li>
                <li>Blazor</li>
                <li>C#</li>
            </ul>

        </div>
        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow: 0 5px 5px 0 gray;">
            <i class="bi bi-code-slash"></i>
            <h3>Front-End</h3>
            <p>
                He trabajado en diferentes proyectos academícos y profesionales utilizando diferentes tecnologías para
                el
                desarrollo de frontend.
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>
            <p>
                React, Angular, Blazor
            </p>

            <p class="text-primary cabecera">
                Experiencia:
            </p>
            <ul>
                <li>Nextjs</li>
                <li>React Hooks</li>
                <li>Angular Material</li>
                <li>Tailwindcss</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>


</div>