<div class="text-center">
    <h1 class="display-4">👋 Hola, soy Amilcar Rodriguez.</h1>
    <h2>Soy un desarrollador full stack especializado en tecnologías Javascript y actualmente estoy aprendiendo .NET
    </h2>
    <div class="">
        <img id="foto" src="~/images/img1.png" alt="Foto de Amilcar" />
    </div>
</div>
<div class="text-center">
    <img id="imagen-dotnet" src="~/images/dotnet-imagen-2.png" alt="Logo dotnet" />
</div>
<div class="row justify-content-center text-center bg-primary">
    <div class="col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi Portafolio</h1>
        <p>
            Egresado de la carrera de ingeniería en sistemas en la Universidad Nacional Autónoma de Honduras.
            Poseo aptitudes y conocimientos prácticos en el desarrollo de software utilizando diferentes
            tecnologías.
            Me desempeño como desarrollador full stack utilizando tecnologías como Reactjs, Angular, Nextjs, Nodejs,
            Laravel, MySQL, Mongodb, entre otras.
        </p>
    </div>
</div>