
@{
    ViewData["Title"] = "Gracias";
}

<h1>Gracias por ponerte en contacto conmigo</h1>
<p>Té contestare el mensaje lo más pronto posible</p>
<div>
    <a asp-controller="Home" asp-action="Index">Volver al home</a>
</div>