@model PaginacionRespuesta
@{
    var plantillaLink = string.Concat(Model.BaseURL, "?pagina={0}&recordsPorPagina={1}");
}

<nav>
    <ul class="pagination mt-3">
        @for (var pagina = 1; pagina <= Model.CantidadTotalDePaginas; pagina++)
        {
            <li class="page-item @(pagina == Model.Pagina ? "active" : null)">
                <a  href="@string.Format(plantillaLink, pagina, Model.RecordsPorPagina)" class="page-link">@pagina</a>
            </li>
        }
    </ul>
</nav>